.b-certificates__item.js-certificates-item.is-active(data-certificate-id="{$id}")
    a(href="{$_pls['360x270.original']}").js-fancy-link
        img(src="{$_pls['360x270.original']}").b-certificates__img
