{extends 'file:templates/Base.html'} {block 'content'}
<section class="b-content">
  <div class="l-container">
    <h1 class="b-page-title">{$_modx->resource.pagetitle}</h1>
    <ul class="b-production-list">
      {$_modx->runSnippet('!pdoMenu',[
      'parents' => 2,
      'where' => '{"class_key":"msCategory"}',
      'tplCategoryFolder' => '@INLINE <li [[+classes]]><h4><a href="/{$uri}">{$pagetitle}</a></h4><ul>[[+wrapper]]</ul></li>',
      'tpl' => ' @INLINE <li><a href="/{$uri}">{$pagetitle}</a></li>',
      'tplParentRow' => '@INLINE <li [[+classes]]><a href="/{$uri}">{$pagetitle}</a><ul>[[+wrapper]]</ul></li>',
      'level' => 3,
      'tplOuter' => '@INLINE [[+wrapper]]'])}
      
      
    </ul>
    <section id="brands" style="padding-top:50px" class="b-brands">
      <h2 class="b-page-title">Бренды</h2>
      <div class="b-brands__list">
        {$_modx->runSnippet('pdoResources',[
        'class' => 'msVendor',
        'tpl' => '@FILE chunks/main/BrandCart.html',
        'sortby' => 'name',
        'limit' => 30,
        'sortdir' => 'ASC'])}
        
      </div>
    </section>
  </div>
</section>{if $_modx->resource.Seo_text != 0}
<section class="b-text">
  <div class="l-container">{$_modx->resource.Seo_info}</div>
</section>{/if}
{/block}