|{extends 'file:templates/Base.html'} {block 'content'}

section.b-content
  .l-container
      | {$_modx->runSnippet('pdoCrumbs',[
      | 'from' => $_modx->resource.id,
      | 'tpl' => '@INLINE <li class="b-breadcrumbs__item"><a href="/[[+link]]" class="b-breadcrumbs__link">[[+pagetitle]]</a></li>',
      | 'tplWrapper' => '@INLINE <ul class="b-breadcrumbs">[[+output]]</ul>',
      | 'showCurrent' => 0 ])}

      h1.b-page-title {$_modx->resource.pagetitle}

      .b-catalog.
          {$_modx->runSnippet('!pdoPage',[
           'limit' => 20,
           'parents' => $_modx->resource.id,
           'element' => 'msProducts',
           'includeThumbs' => 'small',
           'tpl' => '@FILE chunks/category/ProductCard.html',
           'pageLimit' => 5,
           'tplPage' => '@INLINE <li class="b-pagination__item"><a href="/[[+href]]" class="b-pagination__link">[[+pageNo]]</a></li>',
           'tplPageWrapper' => '@INLINE <div class="b-pagination">[[+prev]]<ul class="b-pagination__list">[[+pages]]</ul>[[+next]]</div>',
           'tplPagePrev' => '@INLINE <div class="b-pagination__arrow b-pagination__arrow_prev"><a href="/[[+href]]" class="b-pagination__arrow-link b-pagination__arrow-link_prev">Назад</a></div>',
           'tplPageNext' => '@INLINE <div class="b-pagination__arrow b-pagination__arrow_next"><a href="/[[+href]]" class="b-pagination__arrow-link b-pagination__arrow-link_next">Дальше</a></div>',
           'tplPageActive' => '@INLINE <li class="b-pagination__item "><a href="/[[+href]]" class="b-pagination__link is-active">[[+pageNo]]</a></li>',
           'tplPageSkip' => '@INLINE <li class="b-pagination__item"><span class="b-pagination__dott">...</span></li>',
           'tplPagePrevEmpty' => '',
           'tplPageNextEmpty' => ''])}


      |[[!+page.nav]]



| {if $_modx->resource.Seo_text != 0}
section.b-text
    .l-container
        | {$_modx->resource.Seo_info}

| {/if}
|{/block}
