<li for="mse2_[[+table]][[+delimeter]][[+filter]]_[[+idx]]" class="[[+disabled]] b-brand__production-item [[+id]]">
<a href="/katalog/brendyi/poisk-po-brendam/?resource|parent=[[+value]]&ms|vendor=[[+id]]" class="b-brand__production-link">[[+title]]</a>
</li>
