section.b-slider__item(style="background-image: url('[[+1920x547]]');")
  .l-container
      .b-slider__content
          h2.b-slider__title
             a(href='' title='{$longtitle}').b-slider__title-link {$longtitle}
          .b-slider__description
              p {$content}
  a(href='[[~[[+link_attributes]]]]').b-slider__item-link

