section.b-category__section
    figure.b-category__section-figure
        a(href='/{$uri}')
            img(src='{$_pls[\'138x165\']}' alt='').b-category__section-img
    .b-category__section-content
        h2.b-category__section-title
            a(href='/{$uri}').b-category__section-title-link {$pagetitle}
        .b-category__section-description.
            {$content}
